<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AuralAlertsWarThunder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AuralAlertsWarThunder.Properties.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <AuralAlertsWarThunder.Properties.Settings>
            <setting name="EnableJOK" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableBGO" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="JOKSlider" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="BGOSlider" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="Overspeed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlapSounds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlapsSuggest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VGM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecordData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Gear" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Engine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Overheat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Stall" serializeAs="String">
                <value>False</value>
            </setting>
        </AuralAlertsWarThunder.Properties.Settings>
        <AuralAlertsWarThunder.Properties.User>
            <setting name="EnableJOK" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableBGO" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="JokerFuel" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="BingoFuel" serializeAs="String">
                <value>3</value>
            </setting>
        </AuralAlertsWarThunder.Properties.User>
    </userSettings>
</configuration>